div.content{
	background-color: White;
	padding:10px;
}

body{
	padding-top:70px;
	background-color: LightGray;
}

.float_right{
	float:right;
}

div.main_body{
	padding:10px;
	background-color:LightGray;
	border:none;
}

input{
	font-size: 18px;
}

p.error_message{
	color:Red;
}

a.like_button{
	font-family:Arial;
	text-decoration:none;
	background-color:LightGray;
	color:Black;
	padding:5px;
	border:1px solid;
}

a:hover.like_button{
	background-color:Gray;
}


/****************************/

/* Home page */

a.inv_list{
	background-color:LightGray;
	border:solid 1px;
}

div.create_inv{
	background-color:LightGray;
	border:solid 1px;
}

/* View inventory */

a.edit-delete-btn{
	background-color:LightGray;
	border:solid 1px;
}

/* Edit inventory */

li.in-out-item{
	border:solid 1px;
}

/* Itembox */

div.itembox{
	border:solid 1px;
}

div.green{
	background-color:PaleGreen;
}

div.yellow{
	background-color:Khaki;
}

div.red{
	background-color:Pink;
}

div.update_status{
	padding:10px;
}

p.itemname{
	font-family:Arial;
	font-size:20px;
	display:inline;
}

p.itemissue{
	display:inline;
}


/****************************/

/* View event list */

div.event_list{
	float:left;
	width:560px;
}

ul.tabs{
	list-style-type:none;
	margin:0;
	padding:0;
}

li.tabs{
	display:inline;
	font-weight:bold;
	font-family:Arial;
	text-transform:uppercase;
	color:Black;
	padding:8px;
	cursor: pointer;
}

.selected_tab{
	background-color: Gray;
	border: 1px solid red;
}

.unselected_tab{
	background-color: LightGray;
	border: 1px solid;
}

/* Create event */ 

div.create_event{
	float:left;
	width:360px;
}



