<div class = 'panel panel-default box' ng-controller='EventboxController'>
	<div class='panel-body'>
		<span ng-show='event.upcoming'>{{countdown}}</span>
		<h3>{{event.name}}</h3>
		{{dateString}}
		<span ng-show='event.upcoming'><br/><br/></span>
		<span class='label label-danger' ng-show='event.upcoming'>{{event.alerts.red}} items needed</span>
		<span class='label label-warning' ng-show='event.upcoming'>{{event.alerts.yellow}} items with issues</span>
		<a href='#/view/event/{{event.id}}'><button class='float_right'>See details</button></a>
	</div>
</div>