<div class = 'panel panel-default itembox' ng-class='{red:item.status==1, yellow:item.status==2, green:item.status==3}' ng-controller='ItemboxController'>
	<div class='panel-body'>
		<p class='itemname'>{{item.name}}</p><p class='itemissue'>&nbsp&nbsp&nbsp{{item.issue}}</p>
		<button class='float_right' ng-click='toggleBox()'>{{buttonLabel}}</button>
		<div class='update_status' ng-show='expanded'>
			<p ng-hide='(item.status==1)'><input type='radio' name='status_update_{{item.id}}' value='1' ng-model='newStatus' ng-click='clearIssue()'/> Needs replacing?</p>
			<p ng-hide='(item.status==2)'><input type='radio' name='status_update_{{item.id}}' value='2' ng-model='newStatus'/> Issue to resolve?</p>
			<p ng-show='(newStatus==2 && item.status!=2)'>
				<input type='text' ng-model='newIssue' placeholder="What's wrong?"/>
				<p class='error_message' ng-show='(newStatus==2 && item.status!=2 && errors.issue)'>{{errors.issue}}</p>
			</p>
			<p ng-hide='(item.status==3)'><input type='radio' name='status_update_{{item.id}}' value='3' ng-model='newStatus' ng-click='clearIssue()'/> Ready to go?</p>
			<button ng-click='updateStatus(newStatus)'>Update status</button>
			<p class='error_message' ng-show='errors.form'>{{errors.form}}</p>
		</div>
	</div>
</div>