<div class='titlebar'>
	<div class='title'>
		<h1><a class='title' href='#/home'>QuarterMaster</a></h1>
	</div>
	<div class='logo'>
		<img src='images/small_logo.png'>
	</div>
	<div class='navbar'>
		<ul class='navbar'>
			<li class='navbar'><a class='navbar' href='#/home'>Home</a></li>
			<li class='navbar'><a class='navbar'>All Items</a></li>
			<li class='navbar'><a class='navbar' href='#/view/events'>Calendar</a></li>
			<li class='navbar'><a class='navbar'>Logout</a></li>
		</ul>
	</div>
	<br class='clearer'/>
</div>