<div class='container' ng-controller='EditEventController'>

	<!--Header-->
	<div class='row'>
		<div class='col-md-12'>
			<div class='content'>
				<h2>Edit event</h2>
				<label>Event name:</label> <input type='text' ng-model='nameField'/>
				<span class='error_message' ng-show='errors.name'>{{errors.name}}</span><br/><br/>
				<label>One-day event&nbsp</label><input type='radio' name='oneOrMulti' value='one' ng-model='multiDay'>&nbsp
				<label>Multi-day event&nbsp</label><input type='radio' name='oneOrMulti' value='multi' ng-model='multiDay'><br/>
				<label>Start date:</label> <input type="date" ng-model="startDateField" ng-required="true" />&nbsp&nbsp
				<span ng-show='(multiDay=="multi")'>	
					<label>End date:</label> <input type="date" ng-model="endDateField" ng-required="true" />
				</span><br/>
				<span class='error_message' ng-show='errors.startDate'>{{errors.startDate}}</span>
				<span class='error_message' ng-show='errors.endDate'>{{errors.endDate}}</span>
				<button class='float_right' ng-click='saveChanges()'>Save changes</button><br/><br/>
			</div>
		</div>
	</div>

	<!--Editing columns-->
	<edit-item-list inventory='event.inventory'></edit-item-list>

</div>