<div class='container' ng-controller='EditInvController'>

	<!--Header-->
	<div class='row'>
		<div class='col-md-12'>
			<div class='content'>
				<h2>Edit inventory</h2><hr/>
				Inventory name: <input type='text' ng-model='invNameField'/>
				<button class='float_right' ng-click='saveChanges()'>Save changes</button><br/><br/>
				<p class='error_message' ng-show='errors.name'>{{errors.name}}</p>
			</div>
		</div>
	</div>

	<!--Editing columns-->
	<edit-item-list inventory='inventory'></edit-item-list>

</div>