<div class='container' ng-controller='EditInvController'>

	<!--Header-->
	<div class='row'>
		<div class='col-md-12'>
			<div class='content'>
				<h2>Edit inventory</h2>
				Inventory name: <input type='text' ng-model='invNameField'/>
				<button class='float_right' ng-click='saveChanges()'>Save changes</button><br/><br/>
				<p class='error_message' ng-show='errors.name'>{{errors.name}}</p>
			</div>
		</div>
	</div>

	<!--Editing columns-->
	<div class='row'>

		<!--Items in inventory-->
		<div class='col-md-4'>
			<div class='content'>
				<h3>Items in inventory</h3><hr/>
				<ul class='list-group'>
					<li class='list-group-item in-out-item' ng-repeat='item in inventory.items | filter: {inOut: "in"}' ng-controller='InOutBoxController'>
						{{item.name}}
						<button class='float_right' ng-click='remove()'>Remove</button>
					</li>
				</ul>
			</div>
		</div>

		<div class='col-md-4'>

			<!--Add new item-->
			<div class='content' ng-controller='CreateItemController'>
				<h3>Add a new item</h3>
				<input type='text' ng-model='name' placeholder='item name'/>
				<button ng-click='addItem()'>Add</button><br/><br/>
				<p class='error_message' ng-show='error'>{{error}}</p>
			</div><br/>

			<!--Items removed from inventory-->
			<div class='content'>
				<h3>Removed from inventory</h3><hr/>
				<ul class='list-group'>
					<li class='list-group-item in-out-item' ng-repeat='item in inventory.items | filter: {inOut: "out"}' ng-controller='InOutBoxController'>
						{{item.name}}
						<button class='float_right' ng-click='reinstate()'>Reinstate</button>
					</li>
				</ul>
			</div>

		</div><!--Column--> 

		<div class='col-md-4'>

			<!--Include items from other inventories-->
			<div class='content' ng-controller='SearchByInventoryController'>
				<h3>Search for items</h3>

				<hr/>
				<h4>...by name</h4>
				<input type='text' />
				<button>Search</button>

				<!--Drop-down menu of user's inventories-->
				<hr/>
				<h4>...from other inventories</h4>
				<select ng-model='otherInventoryId' ng-change='getItems()'>
					<option value='0'>Select inventory</option>
					<option ng-repeat='inventory in inventories' value='{{inventory.id}}'>{{inventory.name}}</option>
				</select><br/><br/>
				<p ng-show='(otherInventoryId!=0)'><button ng-click='addAllItems()'>Add all items</button></p>
				<!--List of items from inventory-->
				<ul class='list-group'>
					<li class='list-group-item in-out-item' ng-repeat='item in otherInventory.items' ng-controller='OtherInvItemController'>
						{{item.name}}
						<button class='float_right' ng-click='addItem()'>Add</button>
					</li>
				</ul>
			</div>

		</div><!--column-->

	</div><!--row-->

</div>