<div ng-controller='InvListController' class='inv_list_container'>
	<h2>My inventories</h2><hr/>
	<ul class='inv_list'>
		<li ng-repeat='inventory in inventories'>
			<a class='inv_list' href='#/view/inventory/{{inventory.id}}'><div class='inv_list'>{{inventory.name}}</div></a>
		</li>
	</ul><br/>
	<div class='inv_list' ng-click='expandCreate()'>
		+ Create a new inventory
	</div>
	<div class='create_inv' ng-show='expanded'>
		<input type='text' placeholder="Inventory name" style='display:inline'/>
		<button class='float_right'>Save</button>
	</div>
	<br class='clearer'/>
</div>