<div ng-controller='InvListController' class='inv_list_container'>
	<h2>My inventories</h2><hr/>
	<ul class='inv_list'>
		<li ng-repeat='inventory in inventories'>
			<a class='inv_list' href='#/view/inventory/{{inventory.id}}'><div class='inv_list'>{{inventory.name}}</div></a>
		</li>
	</ul><br/>
	<div class='create_inv'>
		+ Create a new inventory<br/>
		<input type='text' placeholder="Inventory name" style='display:inline' ng-model='newInventory'/>
		<button class='float_right' ng-click='createInventory()'>Save</button>
	</div>
	<br class='clearer'/>
</div>