<div class='container' ng-controller='EventListController'>

	<div class='row'>

		<div class='col-md-5'>

			<div class='content'>

				<h2>My events</h2><hr/>
				<ul class='nav nav-tabs'>
					<li role='presentation' ng-class='{active: pastFuture==1}' ng-click='setPastFuture(1)'><a>Upcoming</a></li>
					<li role='presentation' ng-class='{active: pastFuture==-1}' ng-click='setPastFuture(-1)'><a>Past</a></li>
				</ul>
				<eventbox ng-repeat='event in events | filter: filterPastFuture' event-details='event'></eventbox>

			</div>

		</div><!--col-->

		<div class='col-md-5'>

			<div class='content'>
				<create-event></create-event>
			</div>

		</div><!--col-->

	</div><!--row-->

	

</div>