<div class='container' ng-controller='ViewInvController'>

	<div class='row'>

		<div class='col-md-9'>

			<div class='content'>

				<h2>{{inventory.name}}</h2><hr/>
				<div class='btn-group float_right'>
					<a href='#/edit/inventory/{{inventory.id}}' type='button' class='btn btn-default edit-delete-btn'>Edit</a>
					<a type='button' class='btn btn-default edit-delete-btn'>Delete</a>
				</div><br/>

				<item-list items-details='inventory.items'></item-list>

			</div>

		</div><!--col-->

	</div><!--row-->

</div>