<div class='container' ng-controller='ViewEventController'>

	<div class='row'>

		<div class='col-md-10'>

			<div class='content'>
				<h2>{{event.name}}</h2><hr/>
				<b>{{dateString}}&nbsp - &nbsp{{countdown}}</b><br/>
				<div class='btn-group float_right'>
					<a href='#/edit/event/{{event.id}}' type='button' class='btn btn-default edit-delete-btn'>Edit</a>
					<a type='button' class='btn btn-default edit-delete-btn'>Delete</a>
				</div><br/>

				<item-list items-details='event.inventory.items'></item-list>

			</div>

		</div><!--col-->

	</div><!--row-->

</div>