<div class='container' ng-controller='ViewInvController'>

	<div class='row'>

		<div class='col-md-10'>

			<div class='content'>

				<h2>{{inventory.name}}</h2>
				<div class='btn-group'>
					<a href='#/edit/inventory/{{inventory.id}}' type='button' class='btn btn-default edit-delete-btn'>Edit</a>
					<a type='button' class='btn btn-default edit-delete-btn'>Delete</a>
				</div><hr/>

				<item-list items-details='inventory.items'></item-list>

			</div>

		</div><!--col-->

	</div><!--row-->

</div>